# Assignment 2

Before working on this assignment please read these instructions fully. In the submission area, you will notice that you can click the link to **Preview the Grading** for each step of the assignment. This is the criteria that will be used for peer grading. Please familiarize yourself with the criteria before beginning the assignment.

An NOAA dataset has been stored in the file `data/C2A2_data/BinnedCsvs_d400/82dc13512971a2f041706fd3edbd6e00e965f04b0a1bd547b6982be1.csv`. The data for this assignment comes from a subset of The National Centers for Environmental Information (NCEI) [Daily Global Historical Climatology Network](https://www1.ncdc.noaa.gov/pub/data/ghcn/daily/readme.txt) (GHCN-Daily). The GHCN-Daily is comprised of daily climate records from thousands of land surface stations across the globe.

Each row in the assignment datafile corresponds to a single observation.

The following variables are provided to you:

* **id** : station identification code
* **date** : date in YYYY-MM-DD format (e.g. 2012-01-24 = January 24, 2012)
* **element** : indicator of element type
    * TMAX : Maximum temperature (tenths of degrees C)
    * TMIN : Minimum temperature (tenths of degrees C)
* **value** : data value for element (tenths of degrees C)

For this assignment, you must:

1. Read the documentation and familiarize yourself with the dataset, then write some python code which returns a line graph of the record high and record low temperatures by day of the year over the period 2005-2014. The area between the record high and record low temperatures for each day should be shaded.
2. Overlay a scatter of the 2015 data for any points (highs and lows) for which the ten year record (2005-2014) record high or record low was broken in 2015.
3. Watch out for leap days (i.e. February 29th), it is reasonable to remove these points from the dataset for the purpose of this visualization.
4. Make the visual nice! Leverage principles from the first module in this course when developing your solution. Consider issues such as legends, labels, and chart junk.

The data you have been given is near **Hamburg, Hamburg, Germany**, and the stations the data comes from are shown on the map below.

In [40]:
import matplotlib.pyplot as plt
import mplleaflet
import pandas as pd
import numpy as np

# 1) Line Graph

In [110]:
# Read the data file
df = pd.read_csv('assignment2_data.csv')

# format columns
df['Date'] =  pd.to_datetime(df['Date'], format='%Y-%m-%d')

# create a year column
df['Year'] = df['Date'].dt.year
df['Month'] = df['Date'].dt.month#.strftime('%b')
df['Day'] = df['Date'].dt.day

# group by year and Element

df = (df[['Month', 'Day', 'Element', 'Data_Value', 'Year']]
     .where(df['Year'] < 2015))

# get record high and record low temparature per year (2005-2014)
max_values = (df
              .where(df['Element'] == 'TMAX')
              .groupby(['Month', 'Day', 'Element']).agg({'Data_Value': np.max})
             )

min_values = (df
              .where(df['Element'] == 'TMIN')
              .groupby(['Month', 'Day', 'Element']).agg({'Data_Value': np.min})
             )

# plot line graph
max_values.describe()

       Data_Value
count  366.000000
mean   200.180328
std     76.276284
min     63.000000
25%    124.250000
50%    204.500000
75%    261.000000
max    369.000000